* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quote {
  width: 100%;
  height: 600px;
  display: flex;
  color: white;
}
.quote ::-moz-placeholder {
  color: white;
}
.quote ::placeholder {
  color: white;
}
.quote input {
  height: 46px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  font-size: 15px;
  color: white;
  background: transparent;
  margin-bottom: 30px;
}
.quote select {
  height: 46px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  font-size: 15px;
  color: white;
  background: transparent;
  margin-bottom: 30px;
}
.quote .container {
  width: 50%;
  height: inherit;
  background-color: #4586d5;
}
.quote .container .form_quote h2 {
  font-size: 2rem;
  margin-left: 2rem;
  font-family: "Saira Condensed", sans-serif;
}
.quote .container .form_quote form {
  margin-top: 2rem;
  margin-left: 2rem;
}
.quote .container .form_quote form select .a {
  color: black;
}
.quote .container .form_quote form .first,
.quote .container .form_quote form .second {
  float: left;
  margin-left: 1rem;
}
.quote .container .form_quote form .bottom-text {
  width: 85%;
}
.quote .container .form_quote form .bottom-text textarea {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  font-size: 15px;
  color: white;
  background: transparent;
  margin-bottom: 30px;
  width: inherit;
  height: 100px;
  margin-left: 1rem;
}
.quote .container .form_quote form .side-btn button {
  border: none;
  display: inline-block;
  padding: 14px 30px;
  background: #fad110;
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 1rem;
}
.quote .get-video {
  width: 50%;
  float: left;
}
.quote .get-video img {
  float: left;
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  white-space: nowrap;
  position: relative;
  font-family: "Saira Condensed", sans-serif;
}
.nav #inner-nav {
  padding: 25px 5px;
}
.nav #inner-nav .nav-ul-1 {
  display: inline-block;
  width: auto;
  height: 100%;
  padding-inline-start: 15px;
}
.nav #inner-nav .nav-ul-1 li {
  display: inline;
  cursor: pointer;
  margin: 0 10px 0px 0px;
}
.nav #inner-nav .nav-ul-2 {
  margin: 0 6%;
  display: inline-block;
  width: auto;
}
.nav #inner-nav .nav-ul-2 li {
  display: inline;
  margin: 0 15px;
}
.nav #inner-nav .nav-ul-2 li a {
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
  font-weight: 600;
  font-size: larger;
  text-transform: uppercase;
}
.nav #inner-nav .nav-ul-2 li a:hover {
  color: #007bff;
}
.nav #inner-nav #logo-nav {
  background-color: #142336;
  padding: 36px;
  position: absolute;
  left: 515px;
  cursor: pointer;
  top: 0px;
}
.nav #inner-nav .nav-number {
  font-family: "Mulish", sans-serif;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: #4586d5;
  border: 2px solid #fad110;
  width: auto;
  display: inline-block;
}

.services {
  font-family: "Mulish", sans-serif;
  padding: 0px 50px;
}
.services .service .service-title {
  width: 50%;
  display: inline-block;
}
.services .service .service-title #our-services {
  font-size: 18px;
  color: #4586d5;
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.services .service .service-title #what-we-offer {
  font-family: "Saira Condensed", sans-serif;
  font-size: 40px;
  color: #142336;
  font-weight: 600;
  margin: 0px;
}
.services .service .qoute {
  width: 49%;
  display: inline-block;
}
.services .service .qoute #get-qoute {
  float: right;
  font-family: "Saira Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 36px 12px;
  border: 2px solid #fad110;
  color: #4586d5;
  background: transparent;
}
.services .cards {
  padding: 30px 0px;
}
.services .cards .card {
  display: inline-block;
  width: 30%;
  margin: 0px 25px;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services .cards .card #img-service {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.services .cards .card .card-content {
  text-align: center;
  padding: 25px 25px 35px;
}
.services .cards .card .card-content h4 {
  font-family: "Saira Condensed", sans-serif;
  color: #142336;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}
.services .cards .card .card-content p {
  color: #777777;
  font-size: 16px;
  line-height: 27px;
  margin: 0 0 15px 0;
}
.services .cards .card .card-content a {
  font-family: "Saira Condensed", sans-serif;
  color: black;
}
.services .cards .card .yellow-box {
  height: 70px;
  width: 80px;
  background-image: url("../Images/Repair Icon Before.png");
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 38%;
  transition-duration: 300ms;
}
.services .cards .card .yellow-box:hover {
  background-image: url("../Images/Repair Icon After.png");
  background-size: cover;
}/*# sourceMappingURL=index.css.map */